a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:link, a:visited {
    color: pink;
    text-decoration: none;
    background-color: #f44336;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}